* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  background-color: #dddddd;
  font-family: "Work Sans", sans-serif;
  align-items: center;
}

nav img {
  width: 375px;
}

nav ul {
    list-style-type: none;
    display: flex;
    
}

li a {
  padding: 1em;
  text-decoration: none;
  list-style-type: none;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2em;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/header-image.jpg");
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 55%;
  right: 0%;
  transform: translate(-10%, -0%);
  color: white;
  font-size: 7em;
  /* font-family: "Audiowide", cursive; */
  font-family: "Gabarito", cursive;
  /* font-family: "Work Sans", sans-serif; */
}

h2 {
    font-family: "Gabarito", cursive;
    font-style: bold;
}

main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

article {
    line-height: 2;
    background-color: #fff;
    padding: 1.5em; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 1.8em;
}

article:nth-child(2){
 background-color: #AEDBAB;
 color: #44686F;
}

section {
  padding: 1em;
  width: 45%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

p {
    margin: auto;
    font-family: "Work Sans", sans-serif;
    
    
}

figure {
    border-radius: 25px 250px 250px 250px;
    width: 400px;
    height: 400px;
    
}

figure img {
    border-radius: 25px 250px 250px 250px;
    width: 400px;
    height: 400px;
}

.article-grid  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  width: 100%;
  list-style-type: none;
  font-size: 1.2em;
  padding: 1em;
  text-align: left;
}

.article-grid img {
  border-radius: 25px;
  width: 360px;
  flex-direction: row;
}

.article-content{
  background-color: #AEDBAB;
  border-radius: 25px;
  translate: -330px 110px;
  text-align: center;
  width: 200px;
  padding: 0.5em;
}

.article-content > p {
  font-size: 0.7em;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #AEDBAB;
}

.snippet {
  border-radius: 25px 250px 250px 250px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #242424;
  border: 3px solid #44686F;
  background-color: #7faec5;
}

.snippet > p {
translate: 110px;
}

/* mobiel formaaat website */
@media only screen and (max-width: 600px) {}